<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAB9dvkQfdvvFUK2uXe1CO7-VHux6OX1m0</string>
	<key>GCM_SENDER_ID</key>
	<string>1050823905234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aykhanhajiyev.Lesson-19-05-24-Firebase</string>
	<key>PROJECT_ID</key>
	<string>atldemoproject-aa34a</string>
	<key>STORAGE_BUCKET</key>
	<string>atldemoproject-aa34a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1050823905234:ios:e122d40e9ecd937949c20b</string>
</dict>
</plist>